{% extends "base.html" %}

{% block extrahead %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3232161401562757"
     crossorigin="anonymous"></script>
<script>
    var disqus_config = function () {
        this.page.url = "{{ page.canonical_url | e }}"; // 현재 페이지의 URL
        this.page.identifier = "{{ page.url | e }}"; // 고유 식별자
    };
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://dsaint31-me.disqus.com/embed.js'; // Disqus shortname
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
{% endblock %}


{% block htmltitle %}
<title>BME!!</title>
{% endblock %}

{% block content %}
{{ super() }}
<!-- kekeke dsdsds -->
<div id="disqus_thread"></div>
{% endblock %}


{% block extra_scripts %}
{% endblock %}
