.md-typeset table:not([class]) {
  font-size: 0.78rem;
  border-collapse: collapse;
}

.md-typeset table:not([class]) th {
  background-color: var(--md-primary-fg-color);
  color: var(--md-primary-bg-color);
  font-weight: 700;
  white-space: nowrap;
}

.md-typeset table:not([class]) th,
.md-typeset table:not([class]) td {
  padding: 0.6em 0.9em;
  vertical-align: top;
}

.md-typeset table:not([class]) tbody tr:nth-child(even) {
  background-color: var(--md-default-fg-color--lightest);
}

.md-typeset table:not([class]) tbody tr:hover {
  background-color: var(--md-accent-fg-color--transparent);
}

.md-typeset .md-typeset__table {
  display: block;
  overflow-x: auto;
}

.md-typeset .md-typeset__table table {
  width: 100%;
}