{% extends "base.html" %}

{% block extrahead %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3232161401562757"
     crossorigin="anonymous"></script>
<!--script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script-->
    <script>
        var disqus_config = function () {
            this.page.url = "{{ page.canonical_url | e }}"; // 현재 페이지의 URL
            this.page.identifier = "{{ page.url | e }}"; // 고유 식별자
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://dsaint31-me.disqus.com/embed.js'; // Disqus shortname
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <meta name="google-site-verification" content="7CgCpUyXJIeSNgrD3pIRzxRH26Vc-zfVyd_Fq7a6oV0" />
{% endblock %}


{% block htmltitle %}
<title>BME</title>
<!-- custom_theme htmltitle -->
{% endblock %}

{% block content %}
{{ super() }}
<!-- custom_theme content -->
<hr/>
<hr/>
<div id="disqus_thread"></div>
{% endblock %}


{% block extra_scripts %}
{{ super() }}
<!-- custom_theme extra_scripts -->
<!-- notworking @ 20241214-->
{% endblock %}
