{% extends "base.html" %}

{% block extrahead %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3232161401562757"
     crossorigin="anonymous"></script>
<!--script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script-->
{% endblock %}


{% block htmltitle %}
<title>BME228</title>
{% endblock %}

{% block disqus %}
  <!-- Add custom comment system integration here : dsaint31-->
  <div id="disqus_thread"></div>
  <script>
      (function() { // DISQUS 스크립트 삽입
          var d = document, s = d.createElement('script');
          s.src = 'https://dsaint31-me.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
{% endblock %}
